.selecionarcopo-buttons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 30px
    border: 2px #f70ea9 solid

.copo
    width: 200px
    height: 200px


.fundo
    width: 300px
    height: 300px